html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, system-ui, -apple-system, "Segoe UI", sans-serif;
  background-color: #f4f6fb;
}

a {
  color: inherit;
  text-decoration: none;
}
